.pageWrapper {
  width: 100%;
  max-width: 1000px;

  margin: 20px auto;
  padding: 20px;

  border: 1px solid #000;

  background: #fff;
}

.pageTitle {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

.periodBox {
  border: 1px solid #ccc;
  background: #fff5cf;

  padding: 12px 16px;
  font-size: 14px;
  font-weight: 500;

  margin-bottom: 25px;
}

.periodButtons {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  margin-bottom: 10px;
}

.statsGrid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;     
  align-items: center;      
  gap: 16px 20px;
  margin-bottom: 25px;
}


.sectionTitle {
  display: flex;
  align-items: center;
  gap: 6px;

  font-size: 15px;
  font-weight: 600;

  margin: 15px 0 10px;
}

