* {
  font-family: "Geist", sans-serif;
}

/* nav start */
.navbar {
  background-color: #292929;
  color: #fff;
  padding: 0.75rem 1.5rem;
  position: sticky;
  top: 0;
  margin-bottom: 2rem;
  z-index: 1000;
}

.navbar__links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.navbar__links a {
  color: #fff;
  font-size: 1rem;
}

.navbar__links a:hover {
  color: #f2615b;
}

.ad-link {
  color: #000;
}
/* nav end */